* {margin: 0;padding: 0;outline: none;}
body {margin: 0;padding: 0;-ms-word-wrap: break-word;word-wrap: break-word;background-color: #fff;color: #5b5b5b;font-family: "Montserrat",sans-serif;}
img {margin: 0;padding: 0;border: none;max-width: 100%;height: auto;}
section img {max-width: 100%;}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 10px 0;color: #000;}
p {margin: 0 0 15px;padding: 0;font-size: 15px;letter-spacing: 0;font-weight: 500;line-height: 1.8;}
a {text-decoration: none;color: #000;}
a:hover {text-decoration: none;color: #666;}
a:focus, a:hover {text-decoration: none !important;}
a:focus, input:focus, textarea:focus, .woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus {outline: 1px dotted #000;border-bottom: 1px solid #000;}
ul {margin: 0 15px 0 0;padding: 0;}
:hover {-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s;}
select {width: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {clear: both;}
.clear {clear: both;}
input[type='submit']:hover {cursor: pointer;}
.center {text-align: center;margin-bottom: 40px;}
.middle-align {margin: 0 auto;padding: 20px 0 20px;}
.wp-caption {margin: 0;padding: 0;font-size: 13px;max-width: 100%;}
.wp-caption-text {margin: 0;padding: 0;}
.screen-reader-text {position: absolute;top: -9999em;right: -9999em;}
.screen-reader-text {border: 0;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;word-wrap: normal !important;}
.screen-reader-text:focus {background-color: #eee;clip: auto !important;clip-path: none;color: #444;display: block;font-size: 1em;height: auto;right: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
.sticky {margin: 0;padding: 0;}
.gallery-caption {margin: 0;padding: 0;}
.alignleft, img.alignleft {display: inline;float: right;margin-left: 20px;margin-top: 4px;margin-bottom: 10px;padding: 0;padding: 5px;border: 1px solid #bbb;}
.alignright, img.alignright {display: inline;float: left;border: 1px solid #bbb;padding: 5px;margin-bottom: 10px;margin-right: 25px;}
.aligncenter, img.aligncenter {clear: both;display: block;margin-right: auto;margin-left: auto;margin-top: 0;}
.comment-list .comment-content ul {list-style: none;margin-right: 15px;}
.comment-list .comment-content ul li {margin: 5px;}
#respond {clear: both;}
.bypostauthor {margin: 0;padding: 0;}
small {font-size: 14px !important;}
input[type="text"], input[type="email"], input[type="phno"], input[type="password"], textarea {border: 1px solid #bcbcbc;width: 100%;font-size: 16px;padding: 10px 10px;margin: 0 0 23px 0;height: auto;}
textarea {height: 111px;}
input[type="search"] {padding: 10px;border: 1px solid #bbb;color: #000;}
input[type="submit"] {border: none;text-align: center;font-size: 16px;padding: 10px 30px;background: #f54ea2;font-weight: bold;color: #000;}
iframe {width: 100%;}
.entry-audio audio {width: 100%;}
.entry-content  a, .woocommerce-product-details__short-description p a, .comment-body p a {text-decoration: underline;color: #202020;}
.innerlightbox {padding: 2% 0 0;}
.elementor-html #loader, .elementor-html #loader-wrapper {display: none;}
.read-moresec a.button {background: #f54ea2;color: #000;font-size: 16px;margin: 20px 0 0;padding: 10px 30px;font-weight: bold;}
.read-moresec {padding: 20px 0;}
.fixed-header {position: fixed;top: 0;right: 0;width: 100%;background: #fff;box-shadow: -2px 2px 10px 0px #2d2d2d;z-index: 999999;}
.page-template-custom-front-page .fixed-header #header {background: #ffdd65;box-shadow: -2px 2px 10px 0px #2d2d2d;}
#loader-wrapper {position: fixed;top: 0;right: 0;width: 100%;height: 100%;z-index: 99999;overflow: hidden;display: block;}
.no-js #loader-wrapper {display: none;}
#loader {display: block;position: relative;right: 50%;top: 50%;width: 150px;height: 150px;margin: -75px -75px 0 0;border-radius: 50%;border: 3px solid transparent;border-top-color: #16a085;-webkit-animation: spin 1.7s linear infinite;animation: spin 1.7s linear infinite;z-index: 99999999;}
#loader:before {content: "";position: absolute;top: 5px;right: 5px;left: 5px;bottom: 5px;border-radius: 50%;border: 3px solid transparent;border-top-color: #e74c3c;-webkit-animation: spin-reverse .6s linear infinite;animation: spin-reverse .6s linear infinite;}
#loader:after {content: "";position: absolute;top: 15px;right: 15px;left: 15px;bottom: 15px;border-radius: 50%;border: 3px solid transparent;border-top-color: #f9c922;-webkit-animation: spin 1s linear infinite;animation: spin 1s linear infinite;}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}}
@keyframes spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);}}
@-webkit-keyframes spin-reverse {0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}}
@keyframes spin-reverse {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
#loader-wrapper .loader-section {position: fixed;top: 0;width: 51%;height: 100%;background: #222;z-index: 10;}
#loader-wrapper .loader-section.section-left {right: 0;}
#loader-wrapper .loader-section.section-right {left: 0;}
.loaded #loader-wrapper .loader-section.section-left {-webkit-transform: translateX(100%);transform: translateX(100%);-webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);transition: all .7s .3s cubic-bezier(.645,.045,.355,1);}
.loaded #loader-wrapper .loader-section.section-right {-webkit-transform: translateX(-100%);transform: translateX(-100%);-webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);transition: all .7s .3s cubic-bezier(.645,.045,.355,1);}
.loaded #loader {opacity: 0;-webkit-transition: all .3s ease-out;transition: all .3s ease-out;}
.loaded #loader-wrapper {visibility: hidden;-webkit-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: all .3s 1s ease-out;transition: all .3s 1s ease-out;}
#header .horizontal {background-color: #ffdd65;margin: 0px;}
#header .logo {margin: 0;}
#header .logo h1, #header .logo p.site-title {font-weight: 700;font-weight: bold;text-transform: uppercase;padding: 0;line-height: 1.5;font-size: 25px;margin: 0;text-align: right;}
#header .logo a {color: #202020;}
#header .logo p {font-size: 13px;color: #202020;margin: 0;}
.page-template-custom-front-page #header {z-index: 999;transition: .3s;position: absolute;width: 100%;padding: 15px 0;background: transparent;}
#header {background: #ffdd65;position: static;padding: 15px 0;}
.social-media i {font-size: 13px;padding: 0 10px;color: #fff;}
.social-media i:hover {color: #f54ea2;}
.main-navigation .sub-menu > li > a:focus {outline: 1px dotted #fff;border-bottom: 1px solid #fff;}
#contact-info form.search-form {display: none;}
#menu-sidebar .social-icons, #menu-sidebar .mail, #menu-sidebar .book-btn {display: none;}
#menu-sidebar {display: inline;}
ul.list_nav {margin: 0 auto;text-align: center;display: block;}
.primary-navigation ul {list-style: none;margin: 5px 0 0;padding-right: 0;text-align: right;}
.primary-navigation li {display: inline-block;position: relative;}
.primary-navigation li a:hover, .primary-navigation li:hover a {color: #f54ea2;}
.primary-navigation a {display: block;color: #202020;font-size: 12px;font-weight: 600;padding: 16px 12px 16px 25px;text-transform: uppercase;}
.primary-navigation ul ul {display: none;position: absolute;min-width: 215px;z-index: 999;top: 45px;border-top: 6px solid #f54ea2 !important;border: 1px solid #f54ea2;}
.primary-navigation ul ul ul {right: 100%;top: 5px;}
.primary-navigation ul ul a {color: #202020;background-color: #fff;border: none;padding: 13px;font-weight: 700;font-size: 12px;z-index: 999;}
.primary-navigation ul ul li:hover > a {color: #202020;}
.primary-navigation ul ul li {float: none;display: block;text-align: right;padding: 0;}
.primary-navigation ul ul li:last-child {border-bottom: 0;}
.primary-navigation ul li:hover > ul {display: block;}
.sf-arrows .sf-with-ul:after {content: "";position: absolute;font-weight: 600;font-family: "Font Awesome 5 Free";font-size: 10px;padding: 0px 6px;top: 18px;}
.sf-arrows ul .sf-with-ul:after {left: 10px;top: 15px;}
.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows .sfHover > .sf-with-ul:after {content: "";font-weight: 600;font-family: "Font Awesome 5 Free";}
.toggle-menu, a.closebtn {display: none;}
.sf-arrows .sf-with-ul {padding-left: 30px;}
.page-box {padding: 10px;margin-bottom: 20px;border: solid 2px #ffdd65;}
.page-box h2 {padding-top: 0;}
.page-box h2 a {color: #000;margin: 0 0 29px 0;padding: 0;}
.page-box p {font-size: 15px;margin: 10px 0;line-height: 25px;color: #5b5b5b;}
.box-image {margin: 0;}
#banner img {width: 100%;opacity: .6;}
.our-services .services-box {margin: 40px 0 20px 0;}
.second-border a {border: solid 1px #000;border-radius: 30px;padding: 12px 25px;font-size: 15px;color: #000;}
.second-border a:hover {background: #f54ea2;color: #000;border: 1px solid #f54ea2;}
.second-border {text-align: left;margin: 25px 0;}
.category-section {padding: 3% 0;}
.contentbox {width: 100%;margin: 0 auto;position: absolute;top: 50%;transform: translateY(-50%);}
.contentbox h4 {margin: 0 auto;color: #fff;text-transform: uppercase;background: rgba(59,58,58,.74);display: table;padding: 15px;font-size: 14px;}
.date-option {text-align: left;}
.metabox {color: #000;padding: 5px 0;clear: both;}
.metabox span {margin-left: 24px;font-size: 15px;}
.metabox i {margin-left: 5px;}
span.entry-comments, span.entry-date {float: left;}
.metabox a:hover {color: #f54ea2;}
.entry-content code {color: #202020;}
.meta-nav {color: #202020;font-weight: bold;font-size: 14px;text-transform: uppercase;padding: 10px;background: #f1f2f3;}
.meta-nav:hover {background: #f54ea2;color: #000;}
.page-box-single {background: #fafafa;padding: 15px;}
.page-box-single .entry-content p {margin-bottom: 8px;}
.post-title {margin: 10px 0;color: #1a8129;display: block;}
.meta-nav i {font-weight: 900;font-size: 15px;padding: 8px 0;}
.tags {margin: 20px 0;}
.tags i {font-size: 20px;color: #f54ea2;margin-left: 10px;}
.tags p a {font-size: 15px;color: #202020;border: 1px solid #202020;padding: 5px 10px;display: inline-block;margin: 5px;}
.tags p a:hover {color: #fff;background: #f54ea2;border: 1px solid #fff;}
section h1 {font-weight: bold;text-align: center;margin: 0 0 45px;padding: 0;text-transform: uppercase;}
section h2 {font-weight: bold;text-align: center;margin: 30px 0 0 0;text-transform: uppercase;}
section h4 {color: #000;font-weight: bold;font-size: 20px;}
section h5 {color: #3890cb;font-weight: bold;font-size: 24px;margin: 0 0 10px 0;padding: 0;}
a.r_button {background: #3790ca;padding: .5em 2em;color: #fff;}
section .innerlightbox {background-size: 100% 100%;padding: 4.5em 0;color: #000;}
.innerlightbox div#sidebar {padding-top: 20px;}
#footer label {width: 100%;}
#footer aside {margin-bottom: 15px;}
.tagcloud a {color: #fff;}
#footer .calendar_wrap a {color: #fff;}
#footer .textwidget a {color: #fff;text-decoration: underline;}
#footer h3.widget-title a {color: #f54ea2;}
#footer input[type="search"] {width: 95%;border: none;border: solid 1px #f54ea2;padding: 7px 6px;color: #000;}
#footer input[type="submit"] {font-size: 10px;font-size: 15px;padding: 12px 8px;font-weight: bold;color: #fff;margin: 3px 0 0 0;width: 25%;float: left;}
#footer td#prev a {color: #fff;}
#footer td a {color: #fff;}
#footer a.rsswidget {color: #fff;}
table#wp-calendar {width: 100%;}
#footer caption, #sideabr caption {font-weight: bold;color: #fff;font-size: 20px;}
#footer table, #footer th, #footer td, #sidebar table, #sidebar th, #sidebar td {border: 1px solid #d1d1d1;text-align: center;}
#sidebar td, #sidebar td#prev a, #sidebar th {color: #202020 !important;padding: 5px;}
#footer td {padding: 7px;color: #fff;}
#footer th, #sidebar th {text-align: center;padding: 10px;color: #fff;}
#footer select, #sidebar select {padding: 8px 5px;color: #4d4d4d;}
#footer li a {color: #fff;font-size: 15px;}
#footer li a:hover {color: #f54ea2;}
#footer ul li {list-style: none;padding: 5px 0;}
#footer ul {margin: 0;}
#footer {background: #25272e;color: #fff;clear: both;padding: 10px 0;}
#footer h3 {text-align: right;text-transform: uppercase;font-size: 24px;font-weight: bold;color: #f54ea2;}
#footer p {font-size: 15px;}
#footer .news-form {margin-top: 24px;}
#footer input[type="text"] {width: 60%;padding: 8px 5%;float: right;margin-left: 2%;border-radius: 5px;}
#footer input[type="submit"] {width: 25%;padding: 6px 0;float: left;border: 2px solid #f54ea2;background: #f54ea2;border-radius: 0px;color: #000;margin-top: -38px;}
#footer .copyright {text-align: center;}
.copyright p {font-size: 16px !important;color: #fff;margin-bottom: 0;}
.copyright p a {color: #fff;}
.copyright {background: #222;padding: 20px;text-align: center;}
#footer .tagcloud a {border: solid 1px #999;color: #fff;font-size: 15px !important;padding: 5px 18px;margin: 0 2px 6px;display: inline-block;}
#footer .tagcloud a:hover {border: solid 1px #f54ea2;background: #f54ea2;color: #000;}
#footer a:focus, .copyright p a:focus {outline: 1px dotted #fff;border-bottom: 1px solid #fff;}
#scroll-top {background: #252525;border: 2px solid #252525;color: #fff;cursor: pointer;width: 65px;height: 65px;opacity: .5;position: fixed;bottom: 60px;left: 20px;z-index: 9999;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;font-size: 20px;clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);display: none;}
.left-align {right: 20px;}
.center-align {right: 50%;left: 50%;}
.bradcrumbs {padding: 30px 0;}
.bradcrumbs a {background: #f1f1f1;color: #000;padding: 5px 15px;margin-left: 5px;}
.bradcrumbs a:hover {background: #ffd34e;}
.bradcrumbs span {background: #ddd;color: #000;padding: 5px 15px;}
#comments {display: block;}
#comments h2.comments-title {font-size: 25px;font-weight: bold;border-top: 2px dotted #7e7e7e;margin: 10px 0;padding: 30px 0 10px;}
#comments h3.comment-reply-title {font-size: 20px;font-weight: bold;clear: both;}
#comments input[type="text"], #comments input[type="email"], #comments textarea {width: 100%;padding: 12px 10px;font-size: 18px;margin: 20px 0 0 0;}
#comments input[type="submit"].submit {background: #f54ea2;padding: 10px 50px;font-weight: 600;color: #000;margin-top: 20px;margin-right: 0;border: none;}
#comments a.comment-reply-link {color: #000;background: #f54ea2;padding: 5px 15px;}
#comments a.comment-reply-link:hover {background: #000;color: #fff;}
#comments a time {color: #1a8129;font-weight: bold;font-size: 12px;}
#comments ol li li {margin-right: 25px;}
.comment-body {margin-bottom: 20px;}
.content-ts #comments ul {margin: 0 40px 0 0;}
#comments .reply {text-align: left;}
#comments ol.comment-list {color: #5b5b5b;font-size: 18px;}
.comment-meta.commentmetadata {margin: 8px 0;}
li#comment {margin-bottom: 20px;}
.comment-author cite.fn {padding-right: 10px;}
.content-ts #comments h2.comments-title {padding-top: 10px;font-size: 25px;}
.content-ts #comments ol li li {margin-right: 25px;}
.content-ts #comments ol li {width: 100%;background: none;background: #fff;list-style: none;margin: 0;display: inline-block;}
#Portfolio-Section {padding: 3% 0;}
.portfolio-title {text-align: center;}
.portfolio-title h2 {padding-bottom: 20px;font-weight: bold;margin: 0;}
#Portfolio-Section .box-image {width: 100%;margin-bottom: 10px;}
#Portfolio-Section .image-box {margin-bottom: 10px;padding-top: 10px;}
.box-content h1 {text-align: right;margin-bottom: 0px;}
.box-content p {color: #000;}
.box-content {left: 50%;right: 9%;position: absolute;top: 50%;transform: translateY(-50%);}
section#banner {position: relative;}
#banner .social-media i {border-top-right-radius: 15px;border-bottom-left-radius: 15px;border: 1px solid;padding: 13px;color: #202020;}
#banner .social-media i:hover {color: #ffdd65;background: #f54ea2;}
.woocommerce-product-gallery__image {padding: 5px;}
.woocommerce #sidebar {margin-top: 2em;padding: 10px;}
.woocommerce {width: 100%;float: none;}
a.showcoupon, .woocommerce-message::before {color: #000;}
.woocommerce-message {border-top-color: #000;}
.woocommerce span.onsale {background: #f54ea2;padding: 0;color: #000;}
.products li {border: solid 1px #dcdcdc;padding: 10px;text-align: center;}
h2.woocommerce-loop-product__title, .woocommerce div.product .product_title {color: #000;font-weight: 500;}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price {color: #000;}
.woocommerce div.product .product_title, .woocommerce div.product p.price, .woocommerce div.product span.price {margin-bottom: 5px;}
.woocommerce h1.product_title.entry-title {background: none;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background: #f54ea2;color: #000 !important;border-radius: 0;}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {background: #000;color: #fff !important;}
.woocommerce .quantity .qty {width: 5em;padding: 5px;border-radius: 0;border: solid 1px #000;color: #000;}
.single-product .background-img-skin {margin: 36px 0;}
span.woocommerce-input-wrapper {width: 100%;}
nav.woocommerce-MyAccount-navigation ul {list-style: none;}
nav.woocommerce-MyAccount-navigation ul li {background: #f54ea2 !important;padding: 12px !important;margin-bottom: 10px !important;}
nav.woocommerce-MyAccount-navigation ul li a {color: #000;font-weight: 600;}
.posted_in {display: block;margin-bottom: 10px;}
header.woocommerce-products-header {margin-top: 20px;}
.woocommerce .single-post-page h2 {background: #fff;}
.woocommerce .cart .button, .woocommerce .cart input.button {float: none;padding: 10.6px;}
.woocommerce .woocommerce-ordering select {vertical-align: top;padding: 10px;}
.woocommerce form .form-row .required {color: #df0000 !important;}
.woocommerce .woocommerce-breadcrumb a, .woocommerce .woocommerce-breadcrumb {color: #000;margin-top: 10px;}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce button.button.alt:hover, .woocommerce .cart .button:hover, .woocommerce a.button.alt:hover {color: #fff !important;}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {font-size: 22px;text-align: center;text-transform: capitalize;}
.woocommerce .product_meta span {color: #000;}
.woocommerce .product_meta a {color: #5b5b5b;}
.woocommerce-MyAccount-content p a, .woocommerce-info a, tr.woocommerce-cart-form__cart-item.cart_item a, form.woocommerce-shipping-calculator a, nav.woocommerce-MyAccount-navigation a {text-decoration: none;}
.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover {color: #000 !important;}
.woocommerce .product-title {font-size: 17px;}
.woocommerce .select2-container .select2-selection--single {height: 40px;}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {top: 70%;}
.select2-container--default .select2-selection--single, input#billing_phone {padding: 10px 0px;border-radius: 0px;}
.woocommerce form .form-row textarea {height: 3em;}
#sidebar .star-rating, #footer .star-rating {margin: 0 !important;}
#sidebar .product_list_widget .star-rating, #footer .product_list_widget .star-rating {margin: 5px 0 10px 0 !important;}
#footer .woocommerce a.button:hover, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #f54ea2;}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content {background-color: #000;}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content {background-color: #fff;}
#footer .price_label, #sidebar .price_label {font-size: 14px;}
.woocommerce .star-rating {float: right;}
.news-item.layout-two .news-text-wrap {font-size: 14px;}
.related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product {float: none;display: inline-table;width: 29% !important;}
.woocommerce .woocommerce-product-rating .star-rating {margin: .5em 0 0 20px;}
#footer form.woocommerce-product-search button, #sidebar form.woocommerce-product-search button {background: #f54ea2;border-radius: 0px;color: #000;margin-top: 5px;padding: 10px 0;width: 100%;border: none;border: solid 1px #f54ea2;font-weight: 600;}
#sidebar form.woocommerce-product-search button {margin-top: 0;}
#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img {width: 50px;}
#footer .woocommerce.widget_shopping_cart .cart_list li {padding: 0 2em 10px 0;}
#footer .woocommerce a.button:hover, #footer .woocommerce button.button:hover {background-color: #f54ea2;color: #000 !important;}
.woocommerce form.login .form-row, .woocommerce .woocommerce-form-login .woocommerce-form-login__submit {display: block;float: none;}
.woocommerce-Reviews .comment-text p.meta {width: 100%;float: right;padding-top: 10px;}
.woocommerce ul.products li.product .star-rating {margin: 10px auto;}
#sidebar a.remove.remove_from_cart_button, #footer a.remove.remove_from_cart_button {font-size: 22px !important;}
.woocommerce-Reviews .comment-text .description {float: right;}
.woocommerce #reviews #comments h2 {font-size: 25px;}
.related.products h2 {text-align: right;}
.woocommerce-Reviews .comment-form-rating label {padding: 10px 0;}
.woocommerce form.login {display: inline-block;}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {background: #f54ea2;color: #000;}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {padding: 10px 15px;font-size: 18px;}
#sidebar caption {color: #202020;}
#sidebar form {display: table;width: 100%;}
#sidebar h3 {margin: 0px 0 20px;font-weight: bold;font-size: 25px;text-transform: none;text-align: right;padding-top: 0;}
#sidebar input[type="search"] {border: solid 1px #bbb;padding: 9px 10px;font-size: 15px;color: #000;width: 100%;margin-bottom: 15px;}
#sidebar label {width: 100%;}
#sidebar input[type="submit"] {background: #f54ea2;border: none;color: #000;padding: 10px 0;width: 100%;font-size: 18px;margin: 0;}
#sidebar aside {margin-bottom: 20px;border: solid 1px #eee;padding: 10px;}
#sidebar ul {list-style: none;margin: 0;padding: 0;font-size: 16px;}
#sidebar ul li {margin: 0 0 15px;}
#sidebar ul li a {color: #202020;font-size: 15px;}
#sidebar ul li a:hover {color: #f54ea2;}
label {margin-bottom: 0px;}
#sidebar .tagcloud a {background: #eee;color: #000;font-size: 15px !important;padding: 5px 18px;margin: 0 0 5px;display: inline-block;}
#sidebar .textwidget a {color: #202020;text-decoration: underline;}
#sidebar .tagcloud a:hover {background: #f54ea2;}
img.rss-widget-icon {width: auto !important;}
h2.entry-title, h1.page-title {text-align: right;margin-bottom: 10px;color: #000;}
.content-ts p {text-align: justify;line-height: 25px;font-size: 16px;margin: 0 0 10px;}
.content-ts hr {border: none;border-bottom: 2px dotted #7e7e7e;margin: 35px 0;clear: both;}
.content-ts h1 {font-size: 32px;font-weight: 600;margin: 0;margin: 0 0 15px;padding: 0;color: #000;}
.content-ts h3 {font-size: 36px;font-weight: normal;margin: 0;margin: 0 0 25px;padding: 0;color: #000;}
.content-ts h4 {font-size: 20px;font-weight: bold;margin: 0;margin: 0 0 25px;padding: 0;color: #333;}
.content-ts ul {list-style: none;margin: 0 10px 0 0;padding: 10px 0 0;font-size: 16px;}
.content-ts ul li {padding: 0;margin: 0 0 20px 0;line-height: 25px;}
.content-ts ol {list-style: none;padding: 10px 0 0 0;font-size: 16px;counter-reset: myCounter;}
.content-ts ol li {padding: 0 0 0 0;margin: 0 0 20px 0;}
.nav-links {padding: 10px;}
.nav-previous {float: right;width: 50%;font-size: 15px;}
.nav-next {float: left;font-size: 15px;text-align: left;width: 50%;}
.pagination {clear: both;position: relative;font-size: 14px;line-height: 13px;float: left;font-weight: bold;}
.pagination span, .pagination a {display: block;float: right;margin: 2px 0 2px 2px;padding: 10px 15px;text-decoration: none;width: auto;color: #fff;background: #000;-webkit-transition: background .15s ease-in-out;-moz-transition: background .15s ease-in-out;-ms-transition: background .15s ease-in-out;-o-transition: background .15s ease-in-out;transition: background .15s ease-in-out;}
.pagination a:hover {color: #000;background: #f54ea2;}
.pagination .current {padding: 10px 15px;background: #f54ea2;color: #000;font-weight: bold;}
@media screen and (max-width: 768px) and (min-width: 720px) {.menubox {float: left;}
	.box-content p, .box-content h2 {display: none;}
	#sidebar th, #sidebar td {padding: 4px;}
	#Portfolio-Section .image-box {text-align: center;}
	.box-image.text-center a img {width: 100%;}
	.products li, .related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product {width: 47% !important;margin-left: 10px;}
	.woocommerce .related.products ul.products[class*=columns-] li.product:nth-child(2n), section.related.products .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {float: none;display: inline-table;}
	#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img {width: 40px;}}
@media screen and (max-width:720px) {.contentbox {width: auto;}
	.page-box {margin: 15px;}
	span.entry-comments, span.entry-date {float: none;margin-left: 15px;}
	.page-template-custom-front-page #header {position: static;}
	#header, #header .logo h1, #header .logo p.site-title {text-align: center;}
	.contact span {display: inline-block;margin: 0;}
	#comments input[type="submit"].submit {width: 100% !important;}
	section .innerlightbox {padding: 0;}
	.our-services {margin-top: 0;}
	.box-content h1, .box-content p {display: none;}
	.box-content {left: 0;right: 0;text-align: center;}
	.center-align {right: 40%;left: 50%;}
	.box-content, .box-content h1 {text-align: center !important;right: 0 !important;left: 0 !important;}}
@media screen and (min-width:720px) {#footer input[type="submit"] {width: 100%;float: none;margin-top: 5px;}
	#footer input[type="search"] {width: 100%;}
	#footer th, #footer td {padding: 0px;}}
@media screen and (min-width: 1000px) and (max-width: 1024px) {#footer input[type="submit"] {width: 100%;float: none;margin-top: 5px;}
	#footer th, #footer td {padding: 4px;}
	.box-content {left: 53%;right: 9%;position: absolute;top: 50%;transform: translateY(-50%);margin-top: 20px;}
	section h2 {margin-top: 2em;}}
@media screen and (max-width: 425px) {#footer input[type="submit"] {width: 100%;float: none;margin: 2px 0;}
	#footer input[type="search"] {width: 100%;}
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {width: 100% !important;float: none !important;}
	#header .logo, #header .logo h1, #header .logo p.site-title {text-align: right;}}
@media screen and (min-width: 1200px) {#footer input[type="submit"] {width: 100%;float: none;margin: 5px 0;}}
@media screen and (max-width: 1000px) {.menubar .nav ul li a:focus, a.closebtn.mobile-menu:focus {outline: 1px dotted #fff;border-bottom: 1px solid #fff;}
	.toggle-menu i {font-size: 18px;color: #fff;padding: 10px;background: #262626;margin: 10px 0;}
	.toggle-menu button {background: transparent;border: none;}
	.sidebar {height: 100%;width: 0;position: fixed;z-index: 9999999;top: 0;left: 0;background-color: #252525;overflow-x: hidden;transition: .5s;padding-top: 60px;}
	.sidebar .closebtn {position: absolute;top: -9px;right: -6px;font-size: 40px !important;display: block;color: #fff;border: none;background: transparent;}
	.closebtn i {color: #000;}
	.sidebar #primary-site-navigation {width: 100%;}
	.toggle-menu span {font-size: 30px;cursor: pointer;}
	.toggle-menu {display: block;text-align: left;}
	.primary-navigation ul ul li {display: block;}
	.primary-navigation ul ul a, .primary-navigation li a:hover, .primary-navigation li:hover a {background-image: linear-gradient(90deg,#ffdd65 0%,#f54ea2 120%);}
	.primary-navigation li a:hover, .primary-navigation li:hover a {background: unset !important;}
	.primary-navigation ul li a {padding: 15px;display: block;color: #000;border: none;}
	.primary-navigation ul li ul li a:before {content: "» ";}
	.primary-navigation ul li ul li a {padding-right: 20px !important;}
	.primary-navigation ul li ul li ul li a {padding-right: 30px !important;}
	.primary-navigation ul ul {position: static;width: 100%;background: unset;border: none !important;}
	.primary-navigation ul ul li {text-align: center;}
	.primary-navigation li {padding: 0;}
	.main-header-box {padding-bottom: 15px;}
	#menu-sidebar {display: inline;background-image: linear-gradient(90deg,#ffdd65 0%,#f54ea2 120%);opacity: .95;}
	#header .primary-navigation ul.sub-menu li a, #header .primary-navigation ul li a {color: #000 !important;}
	.primary-navigation ul {display: grid;text-align: center;}
	nav#primary-site-navigation a.closebtn.mobile-menu i {color: #fff;}
	#contact-info {background-image: linear-gradient(90deg,#ffdd65 0%,#f54ea2 120%);z-index: 1;right: 0;left: 0;bottom: 0;width: 100%;text-align: center;overflow: hidden;opacity: .95;padding: 20px 0;}
	#menu-sidebar .primary-navigation a {font-size: 15px;font-weight: 600;}
	#menu-sidebar input[type="submit"] {padding: 10px;background-color: #f54ea2;color: #000;font-size: 14px;}
	#menu-sidebar input.search-field {background: #fff;padding: 8px;margin: 0 2%;}
	.primary-navigation a {display: unset;}
	#contact-info form.search-form {display: inline-block;}
	#contact-info label {margin: 0 auto;width: 75%;float: right;}
	.main-menu-navigation {overflow-y: scroll;scroll-behavior: auto;}
	.top-header {display: none;}
	.sf-arrows .sf-with-ul:after {position: absolute;right: 87%;left: 0;color: #fff;}
	.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows .sfHover > .sf-with-ul:after, .sf-arrows ul .sf-with-ul:after, .sf-arrows .sf-with-ul:after {color: #000 !important;}}